html {
    font-size: 20px;
}

body {
    font-size: 16px;
    font-family: 'Montserrat','Nanum Gothic', sans-serif;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.after::after {
    display: block;
    content: "";
    clear: both;
}

::selection {
    background: #f68084;
}

/* ------------ modal ---------------- */
.modal {
    background: #191919;
    width: 25%;
    height: 100vh;
    position: fixed;
    z-index: 3;
    color: #fff;
    right: 0;
    transform: translateX(100%);
    opacity: 1;
    transition: 0.5s;
}

.modal .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15vh;
    font-weight: 800;
    font-size: 60px;
    height: 100%;
}

.modal .menu li {
    height: 15%;
    cursor: pointer;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size 1s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 0%;
}

.modal .menu li:hover {
    background-size: 100% 200%;
}

/* ------------ nav ---------------- */
.nav {
    color: #fff;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 4rem;
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
}

.nav .logo .homebtn {
    font-size: 36px;
}

.menu-trigger {
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.4s;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
    left: 200%;
    opacity: 0;
    -webkit-animation: active-menu-bar .8s forwards;
    animation: active-menu-bar .8s forwards;
}

@-webkit-keyframes active-menu-bar {
    100% {
        height: 0;
    }
}

@keyframes active-menu-bar {
    100% {
        height: 0;
    }
}

.menu-trigger.active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

/* ------------ wrap ---------------- */
.wrap>div>.title{
    display: flex;
    justify-content: center;
}
.wrap>div>.title>.spanwrap{
    align-items: flex-start;
    display: inline-flex;
}

.wrap>div>.title>.spanwrap>span {
    overflow: hidden;
    position: relative;
}

.wrap>div>.title>.spanwrap>span::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:#f68084;
    position: absolute;
}

.wrap>div>.title>.spanwrap>span.active::after {
    animation: block-reveal 0.7s both;
}

.wrap>div:nth-of-type(2n) .title>.spanwrap>span::after{
    background: #719cff;
}

@keyframes block-reveal {
    0% {
        transform: translate(-110%, 0)
    }
    45%, 55% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(110%, 0)
    }
}

/* ------------ main ---------------- */

.main {
    color: #fff;
    width: 100%;
    height: 100vh;
    background: url(img/main.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.main .text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.main .title {
    font-size: 20px;
}

.main .body {
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    -webkit-background-clip : text;
    color: transparent;
}

.main .body2 {
    font-size: 15px;
    margin-top: 1rem;
}

.main .scroll {
    width: 30px;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 5vh;
    transform: translateX(-50%);
    animation: ani-scroll 1s alternate infinite;
}

@keyframes ani-scroll {
    100% {
        bottom: 6vh;
    }
}

/* ------------ aboutme ---------------- */
.aboutme {
    background: #191919;
    position: relative;
    color: #fff;
    padding: 100px 0;
}

.aboutme .title span{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    -webkit-background-clip : text;
    color: transparent;
}

.aboutme .con {
    padding: 100px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutme .profileleft {
    width: 35%;
    text-align: right;
}

.aboutme .profilecenter {
    width: 20%;
    border-radius: 50%;
    background: url(img/profile.jpg) center;
    background-size: cover;
    margin: 0px 5%;
}

.aboutme .profilecenter::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.aboutme .profileright {
    width: 35%;
}

.aboutme .con h3 {
    padding: 20px 0 10px;
}

.github::before {
    content: "\ebdd";
    font-family: 'xeicon';
    font-size: 20px;
}

.aboutme .con2 {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.aboutme .con2 ul {
    width: 33.3333%;
    text-align: center;
}

.aboutme .con2 .title {
    margin-bottom: 15px;
}

.aboutme .con2 .value {
    margin : 5px 0;
}

.aboutme .con2 .date {
    font-size: 13px;
    color: #a8a8a8;
}

.aboutme .con2 .career .body .value span {
    font-size: 11px;
}
/* ------------ skill ------------ */

.skill {
    background: #f7f7f7;
    position: relative;
    color: #191919;
    padding: 100px 0;
}

.skill>.title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #f68084;
}

.skill>.body {
    padding: 100px 5rem 0;
}

.skill .body>.con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill .body>.con>div {
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 50px;
}

.skill .body>.con>div:nth-of-type(4n) {
    margin-right: 0;
}

.skill .body>.con .text {
    text-align: center;
    background: #fff;
    padding: 20px 0;
}

.skill .body>.con .text>h3 {
    margin: 20px;
}

.skill .body>.con .text>p {
    line-height: 24px;
}

/* 그래프 */

.circle-chart {
    display: block;
    margin: 0 auto 20px;
    width: 30%;
    height: auto;
}

.circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none;
}

.circle-chart__circle {
    transform: rotate(-90deg);
    transform-origin: center;

    stroke: #f68084;
    stroke-width: 2;
    stroke-linecap: round;
    fill: none;
}

.skill .body>.con>div.active .circle-chart__circle {
    animation: circle-chart-fill 2s reverse;
}


.circle-chart__info {
    opacity: 0;
    transform: translateY(0.3em);
}

.skill .body>.con>div.active .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
}

@keyframes circle-chart-fill {
    to {
        stroke-dasharray: 0 100;
    }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --------------- work --------- */

.work {
    background: #191919;
    color: #fff;
    padding: 100px 0;
}

.work>.title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #719cff;
}

.work .con {
    padding: 0px 5rem;
}

.work .con>.works {
    display: flex;
    justify-content: space-between;
    margin: 150px 0;
}

.work .con>.works>div {
    width: 40%;
}

.work .con>.works .mockup{
    width: 50%;
    height: 600px;
}

.work .con>.works .text {
    position: relative;
}

.work .con>.works .text_title {
    text-align: center;
    font-size: 40px;
    color: #a6c0fe;
    font-weight: 600;
}

.work .con>.works .sub_title {
    text-align: center;
    margin: 10px 0 20px;
    color: #999;
    font-size: 14px;
}

.work .con>.works .text {
    text-align: center;
    line-height: 25px;
}

.work .con>.works .btn>a {
    display: inline-block;
    background: #a6c0fe;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0;
    transition: 0.5s;
}

.work .con>.works .btn>a:hover {
    background: #719cff;
}

.work .con>.works .git {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.work .con>.works .git>ul {
    display: flex;
    justify-content: space-between;
}

.work .con>.works .git>ul>li {
    width: 33.3333%;
}

.work .con>.works .git_title {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.1);
    color: #999;
}

.work .con>.works .git_body>li {
    padding: 10px 0;
    border-bottom: 1px solid #808080;
    box-sizing: border-box;
}
.work .con>.works .git_body .gitbtn {
    padding: 3px 5px;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
}

.work .con>.works .git_body .githtml {
    background: #f06529;
}

.work .con>.works .git_body .gitcss {
    background: #2965f1;
}

.work .con>.works .git_body .gitjs {
    background: #f0db4f;
}

.work .con>.works .git_body .gitlink>a {
    text-decoration: underline;
}

.work .con>.ingagu .mockup {
    background: url(img/ingagu.jpg) center;
    background-size: cover;
}

.work .con>.vans .mockup {
    background: url(img/vans.jpg) center;
    background-size: cover;
}

.work .con>.juventus .mockup {
    background: url(img/juventus.jpg) center;
    background-size: cover;
}

.work .con>.works:last-of-type {
    margin-bottom: 0;
}

/* ----- contact-------- */

.contact {
    background: #f7f7f7;
    position: relative;
    color: #191919;
    padding: 100px 0;
    text-align: center;
}

.contact>.title{
    font-size: 48px;
    font-weight: 700;
    color: #f68084;
}

.contact>.subtitle {
    font-weight: 200;
    font-size: 14px;
}

.contact>.con {
    display: flex;
    justify-content: center;
    margin: 100px 0 0;
}

.contact>.con>div {
    width: 30%;
}

.contact>.con>div p {
    margin: 20px 0 0;
}

/* ---footer---- */

.footer {
    background: #191919;
    position: relative;
    color: #999;
    padding: 50px 5rem;
    box-sizing: border-box;
    text-align: center;
}

.footer .con p {
    line-height: 30px;
}